* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
      article {
        width: 350px;
        min-height: 100px;
        border-radius: 3px;
        padding: 10px;
        border: 1px solid gray;
        margin: 100px auto;
        > img {
          width: 100%;
          height: 250px;
          object-fit: cover;
        }
        > div {
          width: 100%;
          height: 40px;
          /* border:2px solid black; */
          margin-block: 7px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          > section {
            font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
            font-weight: bold;
            font-size: 20px;
            > i {
              color: black;
              cursor: pointer;
            }
          }
        }
        .comments {
          width: 100%;
          min-height: 40px;
          /* border:1px solid gray;  */
          font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
          display: none;
          transition: 0.2s;
          > .comment-write {
            width: 100%;
            > input {
              width: 100%;
              height: 40px;
              padding-left: 10px;
              outline: none;
              border-style: 3px;
            }
            > textarea {
              width: 100%;
              margin-top: 6px;
              height: 150px;
              padding: 14px;
            }
            > button {
              all: unset;
              width: 100%;
              height: 48px;
              background-color: blueviolet;
              color: white;
              cursor: pointer;
              font-size: 20px;
              text-align: center;
            }
          }
          .showComments {
            width: 100%;
            margin-top: 30px;
            > .text {
              width: 100%;
              list-style: none;
              margin-top: 15px;
              > strong {
                text-transform: capitalize;
                font-family: cursive;
              }
              > p {
                margin-top: 6px;
              }
            }
          }
        }
        .comments.show {
          display: block;
        }
      }